body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: burlywood;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttons button{
    margin: 10px;
    height: 60px;
    width: 120px;
    border: 3px solid darkgrey;
}

.buttons button#biggerButton {
    width: 260px;
}

.buttons button#bottom {
    margin-bottom: 15px;
}

.screen { 
    height: 200px;
    width: 550px;
    border: 5px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#memoryScreen{
    margin-right: 20px;
    font-size: 40px;
    justify-self: flex-start;
}

#activeScreen {
    margin: 20px;
    font-size: 80px;
}



